* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar-container {
  position: fixed;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
  height: 100px;
  width: 100%;
  margin: 5px;
  padding: 10px;
}
.navbar-content {
  position: relative;
  bottom: 85px;
  display: flex;
  padding: 10px;
  margin: 10px;
  float: right;
}
.navbar-content h2 {
  margin: 10px;
  padding: 10px;
}
a {
  color: white;
  text-decoration: none;
  /* margin: 15px; */
}
a.active {
  color: white;
}
/* .search-box {
  border: none;
  border-radius: 15px;
  width: 350px;
  height: 40px;
  align-items: flex-start;
  margin: 20px;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-the-docs {
  color: #888;
}
.First-container {
  margin-top: 100px;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.lable-setTime {
  color: black;
}
.timer-input {
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.modal-content .fa-solid {
  position: relative;
  float: right;
  height: 10px;
  width: 10px;
  color: black;
}
.timer-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}
.fa-solid:hover {
  cursor: pointer;
}
.notification-container {
  bottom: 85px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.notification-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
  color: black;
  font-size: 20px;
}
.message-conatiner {
  top: 90px;
  left: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.message-conatiner label {
  margin-left: 10px;
}
.message-conatiner button {
  margin-left: 10px;
  border: 2px solid wheat;
}
.message-input {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.message-input input {
  width: 300px;
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  background-color: white;
  margin: 10px;

  font-size: 20px;
  font-weight: 600;
}
.Api-container {
  position: absolute;
  top: 80px;
}
footer {
  margin: auto;
  position: fixed;
  bottom: -1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 70px;
  background: gray;
  color: black;
}
footer p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
